<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icon List</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div id="fieldList" data-template="icon" data-bind="fields"></div>
    <template data-name="icon">
      <button>
        <i data-class="icon"></i>
        <span data-text="name"></span>
      </button>
    </template>
    <script src="base.js"></script>
    <script>
      // multiple class names separated by spaces are supported
      let fields = [
        { icon: 'fa-solid fa-house', name: 'home' },
        { icon: 'fa-solid fa-message', name: 'message' },
        { icon: 'fa-regular fa-bell', name: 'notice' },
      ]
      renderTemplate(fieldList, { fields })
    </script>
  </body>
</html>
