@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #eee;
  }
  a {
    color: #cc0;
  }
  a:visited {
    color: #0c0;
  }
  button[disabled] {
    color: #000;
  }
}

[hidden] {
  display: none !important;
}

.error {
  border: 1px solid red;
  padding: 0.5rem;
  width: fit-content;
}

.highlight {
  font-weight: bold;
}

article img {
  width: 200px;
  height: 200px;
}

ul.tags {
  padding: 0;
}
ul.tags li {
  list-style: none;
  display: inline-block;
  padding: 0.5rem;
  border-radius: 1.5rem;
  font-size: 0.8rem;
}
@media (prefers-color-scheme: dark) {
  ul.tags li {
    background-color: #555;
  }
}
@media (prefers-color-scheme: light) {
  ul.tags li {
    background-color: #ccc;
  }
}
