@media (prefers-color-scheme: dark) {
  body {
    background-color: #222;
    color: #eee;
  }
  a {
    color: #cc0;
  }
  a:visited {
    color: #0c0;
  }
  button[disabled] {
    color: #000;
  }
}

.highlight {
  font-weight: bold;
}

article img {
  width: 200px;
  height: 200px;
}
